<div class="modal__wrapper">
    <div class="slider__wrapper">
      <div class="slider__item">
        <a href="#" class="slider-controls slide__prev" id="prev_slide">
          <svg class="svg__slider-control svg__icon_prev">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprites/svg/symbol/bg-sprite.svg#icon-arrow_left"></use>
          </svg>
        </a>
        <div class="slide__wrapper">
          <img src="{{this_img}}" alt="" class="slide">
        </div>
        <a href="#" class="slider-controls slide__next" id="next_slide">
          <svg class="svg__slider-control svg__icon_next">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprites/svg/symbol/bg-sprite.svg#icon-arrow_right"></use>
          </svg>
        </a>
        <a href="#" class="slider__close" id="btn_close_modal">
          <svg class="svg__icon_close close-position">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprites/svg/symbol/bg-sprite.svg#icon-close"></use>
          </svg>
        </a>
      </div>
      <div class="slider__description">
        <div class="slide__author">
          <div class="photo__frame">
            <img src="/img/author2.png" alt="" class="author-photo">
          </div>
          <div class="author__name">
            <h2 class="author-name">Анна Богданова</h2>
          </div>
          <a href="#" class="like__link">
            <div class="like">
              <svg class="like-type svg__icon_dislike">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprites/svg/symbol/bg-sprite.svg#icon-no_like"></use>
              </svg>
              <svg class="like-type svg__icon_like">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprites/svg/symbol/bg-sprite.svg#icon-like"></use>
              </svg>
              <p class="number-like">16</p>
            </div></a>
        </div>
        <div class="description__item">
          <h1 class="title-description">Путешествие на речном трамвайчике</h1>
          <p class="text-description">Мы отправились в 
            <a href="#" class="hashtag">#путешествие</a> 2 дня назад, но уже сейчас такое ощущение, что мы посмотрели целый новый мир. Далее будет ещё одно описательное предложение. Возможно оно также будет с <a href="#" class="hashtag">#тегами</a>.
          </p>
        </div>
      </div>
{{!--       <div class="slider__comments"><a href="#" class="add-comment__hide">
          <h3 class="text-comments">Комментарии</h3>
          <svg class="svg__icon_down">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprites/svg/symbol/bg-sprite.svg#icon-arrow_down"></use>
          </svg></a>
        <form class="comments__form">
          <div class="author__wrapper">
            <div class="photo__frame"><img src="/img/author.png" alt="" class="author-photo"></div>
          </div>
          <div class="add-comment">
            <h2 class="author-name">Антон Черепов</h2>
            <textarea name="comment" id="comment" rows="1" class="textarea-comment"></textarea>
            <button type="submit" name="add-comment" id="add-comment" class="btn_add-comment">Добавить</button>
          </div>
        </form>
        <ul class="comments__list"></ul>
      </div> --}}
    </div>
  </div>