header.header
	.header__author
		img.author__photo(src="assets/img/author.png", alt="Author Photo")
		h2.author__name Антон Черепов
	.header__description
		h1.description__title Лесные прогулки
		p.description__content
			| Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюбленным в тишину. 
			br 
			|Запах мёда, лесных оленей и енотов будоражит нутро.
	.header__settings
		a(href="#")
		a(href="#")