extends ../layout/login_layout.jade

block title
	.registration__title
		h1.title__h1 Регистрация

block content
	form.registration__form(id="registration__form" )
		input.form__field(type="text" name="login" id="registration_name" placeholder="Имя")
		input.form__field(type="email" name="email" id="registration_mail" placeholder="Электронная почта")
		input.form__field(type="password" name="password" id="registration_password" placeholder="Пароль")
		span.form__text Ваши данные остаются строго конфеденциальны
		button.btn.btn__creat(type="submit" name="btn_create" id="reg_btn") Создать аккаунт
		.registration__login
			span.text__question Уже зарегистрированы? 
			a.form__link(href="#") Войти

